# I. Introduction to the Course 
## 1. Reading & Writing CSV Files

In [3]:
import csv 

%precision 2 

with open("mpg.csv") as csvfile:
    mpg = list(csv.DictReader(csvfile))

FileNotFoundError: [Errno 2] No such file or directory: 'mpg.csv'

## 2. Dates & Times
A lot of analysis you do might relate to dates and times. For instance, finding the average number of sales over a given period, selecting a list of products to data mine if they were purchased in a given period, or trying to find the period with the most activity in online discussion forum systems

In [4]:
import datetime as dt
import time as tm

In [5]:
# time now by second
tm.time()

1638173345.85

In [7]:
# convert time > detail 
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2021, 11, 29, 15, 10, 16, 390548)

In [8]:
# we access date, month,...
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2021, 11, 29, 15, 10, 16)

In [9]:
# crete a delta time for add/subtract
delta = dt.timedelta(days = 365)
delta

datetime.timedelta(days=365)

In [10]:
today = dt.date.today()

In [11]:
today - delta

datetime.date(2020, 11, 29)

## 3. Advanced Python Objects & map()

### 3.1 Class or Function?

Create a function. Functions do specific things, classes are specific things.

Classes often have methods, which are functions that are associated with a particular class, and do things associated with the thing that the class is - but if all you want is to do something, a function is all you need.

Essentially, a class is a way of grouping functions (as methods) and data (as properties) into a logical unit revolving around a certain kind of thing. If you don't need that grouping, there's no need to make a class.

In [25]:
class MachineLearning:
    def __init__(self,name,age):
        self.name = name
        self.age = age

class DeepLearning(MachineLearning):
    def _init__(self,name,age,experience):
        # override init func 
        super().__ini__(name,age)
        self.experience = self.experience
    # special method for print object of class 
    def __str__(self):
        return "{}".format(self.name)
    def __add__(self,obj_2):
        return (self.age + obj_2.age)
    # get: print(attribute)
    def get_name(self):
        return self.name
    # set: change attribute
    def set_name(self, new_name):
        self.name = new_name
        return new_name

In [39]:
obj_1 = DeepLearning("Charles",20)
obj_2 = DeepLearning("Andrew", 40)

obj_2.set_name("Andrew Ng")

'Andrew Ng'

### 3.2 The map() function
map(function, iter1, iter2, ...)
-> Iterate each element in each iter, e.g. iter = [1,2,3], so it run 1,2,3

In [43]:
store1 = [441,322,32,4,5,5]
store2 = [100,23,422,41,342,44]

# use map for mapping max for 2 list, but it return object
expensive = map(max, store1, store2)

In [42]:
# we need use 1 data structure for storing it
list(expensive)

[441, 322, 422, 41, 342, 44]

In [77]:
# example
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vinod Vydiswaran', 'Dr. Romero']

## 4. Lambda & List Comprehensions
## 4.1 Lambda

In [95]:
# must create name of lambda
sum = lambda a,b: a + b
print(sum(2,3))

5

In [93]:
# if not, we use live from iteration we need call ele
# lambda ... (obj/iteration)
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

Dr. Brooks
Dr. Collins-Thompson
Dr. Vydiswaran
Dr. Romero

### 4.2 List Comprehension

In [99]:
[i*j for j in range(10) for i in range(10)]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [98]:
[[i*j for j in range(10)] for i in range(10)]

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 [0, 3, 6, 9, 12, 15, 18, 21, 24, 27],
 [0, 4, 8, 12, 16, 20, 24, 28, 32, 36],
 [0, 5, 10, 15, 20, 25, 30, 35, 40, 45],
 [0, 6, 12, 18, 24, 30, 36, 42, 48, 54],
 [0, 7, 14, 21, 28, 35, 42, 49, 56, 63],
 [0, 8, 16, 24, 32, 40, 48, 56, 64, 72],
 [0, 9, 18, 27, 36, 45, 54, 63, 72, 81]]

In [103]:
# harder
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

correct_answer[:50] # Display first 50 ids

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49']